def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '10.GB'
    max_cpus                   = 4
    max_time                   = '240.h'

    help = false
    version = false

    store_dir = "store_dir"
    unique_id = null
    timestamp = "${trace_timestamp}"

    // required arguments
    arg_csv = ""
    arg_fastq = '/shared/team/ashley/unclassifier-controls/kraken_on_viral/reads/C-18A1E8AC40.viral.fastq.gz'  // original fastq input
    arg_kraken_database = '/shared/team/reference_databases/kraken/curated-viral-db/2025-10-01/' // path to AK's custom Kraken Database
    arg_output = "/results"
    test_climbid = "test_climbid"
    test_runid = "test_runid"
    test_kraken_report = "/shared/team/mike/gpha-mscape-orangebox-virus-reclassification/results/test_climbid_test_runid_kraken_report.txt"
    test_kraken_results = "/shared/team/mike/gpha-mscape-orangebox-virus-reclassification/results/test_climbid_test_runid_kraken_results.txt"
    db_path = "/shared/team/mike/.testplease/taxa.db"

}