def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '10.GB'
    max_cpus                   = 4
    max_time                   = '240.h'

    help = false
    version = false

    store_dir = "store_dir"
    unique_id = null
    timestamp = "${trace_timestamp}"

    // required arguments
    fastq = ''  // original fastq input
    kraken_database = ''  // path to custom Kraken Database folder
    output = ""  // out dir
    climbid = ""  // CLIMB ID
    runid = ""  // Run ID
    db_path = ""  // path to folder containing taxa DB

}